parameters:
  level: 8
  paths:
    - src
    - tests
  checkMissingIterableValueType: true
  excludePaths:
    analyse:
      - src/Extensions/TwigDumpExtension.php
  parallel:
    maximumNumberOfProcesses: 1
